*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.router{
  display: flex;
  &-block{
    width: 150px;
    height: 1000px;
    background: #000;
    display: flex;
    padding-top: 40px;
  }
  &-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
    list-style: none;
    li{
      position: relative;
      a{
        color: white;
      }
    }
  }
  &-list li{
    margin: 0 10px;
  }
}